.admin-h1 {
    font-family: 'Source Sans Pro Bold' !important;
    font-size: 20px !important;
    color: #4E4E4E !important;
}

.tbl {
    margin-right: 0px;
    margin-left: 0px;
}
.tbl-head{
    background-color: #CDD3E4 !important;
    font-family: 'Source Sans Pro Bold' !important;
    font-size: 18px !important;
    color: #4E4E4E !important;
    border-radius: 7px;
}

.tbl-head div {    
    height: 50px !important;
    border-bottom:1pt solid black !important;
    border-radius: 5px !important;
    vertical-align: middle !important;
    padding-left: 40px !important;
    border: none !important;
    padding-top: 11px !important;
}

.tbl-body {
    height: 50px !important;
    //background-color: #f8f8f8 !important;
    border-radius: 7px;
}

.tbl-body div{ 
    color: #666666 !important;  
    vertical-align: middle !important;  
    font-size: 18px !important;  
    height: 50px !important;   
    padding-left: 40px !important;
    border: none !important;
    border-radius: 7px !important;
    padding-top: 11px !important;
}

.tbl-body div:first-child {
    color: #1392C7 !important;
    border-top-left-radius: 7px !important;
    border-bottom-left-radius: 7px !important;
    border: none !important;
}

table {
    border-collapse: initial !important;
}

table th {
    padding-left: 30px !important;
    border: 1px solid #eaedf4 !important;
}

table td {
    padding-left: 30px !important;
    border: 1px solid #eaedf4 !important;
}

table td:first-child{
    border-top-left-radius: 7px !important;
    border-bottom-left-radius: 7px !important;
}

table th:first-child {
    border-top-left-radius: 7px !important;
    border-bottom-left-radius: 7px !important;
}

table td:last-child{
    border-top-right-radius: 7px !important;
    border-bottom-right-radius: 7px !important;
    text-align: center !important;
    padding-left: 0px !important;
}

table th:last-child {
    border-top-right-radius: 7px !important;
    border-bottom-right-radius: 7px !important;
    text-align: center !important;
    padding-left: 0px !important;
}

.table > thead > tr > th {
    border-bottom: 0 solid #ddd !important;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    border-top: 0 solid #ddd !important;
}

.admin-btn {
    font-family: 'Source Sans Pro Semibold' !important;
    font-size: 18px !important;
    color: #FFFFFF !important;
    margin-top: 15px !important;
}

.right-icons {
    padding-right:50px;
}

.toast-message {
    text-align: center;
}
