 .row.content {
      height: 800px;
      padding: 50px;
    }

    .col-form-label {
      text-align: right !important;
    }

    .container-fluid {
      background-color: #fff !important;
    }

    /* selected link */
    .navbar .active {
     background-color: #292e35 !important;
     color: #ffffff !important;
    }

    .navbar-toggle {
      margin-top: 0px !important;
      padding: 3px 10px !important;
      color: white !important;
    }

    .navbar-collapse.in {
      overflow-y: initial;
    }

    .navbar-collapse {
      overflow-y: initial;
    }

    .navbar-nav {
        text-align: center;
    }

    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #40444e;
      height: 100%;
      top: 52px;
      font-family: Source Sans Pro Semibold;
      font-size: 18px ;
    }

    .navbar {
      background-color: #40444e !important;
      border-radius: 0px !important;
      text-align: text-center !important;
      font-family: 'Source Sans Pro' !important;
      font-size: 18px !important;
    }

    .navbar-inverse {
      background-color: #40444e !important;
      border-color: none !important;
      border-color: #40444e !important;
    }
    .navbar-header {
      background-color: #272b33 !important;
      height: 50px !important;
      margin-top: 0px;
      padding-top: 5px;
    }

    .navbar-inverse .navbar-nav > .active > a,
    .navbar-inverse .navbar-nav > .active > a:hover,
    .navbar-inverse .navbar-nav > .active > a:focus {
      color: #fff !important;
      background-color: #292e35 !important;
      font-family: 'Source Sans Pro' !important;
      font-size: 18px !important;
    }

    li {
      color: rgba(0, 0, 0, .0001) !important;
    }

    .headerLogo {
        text-align: center;
        min-height: 50px;
    }

    .headerLogo img {
        height: 25px;
    }

    /* Fixed position */
    .fixed-top {
        top: 0 !important;
        width: 100% !important;
        margin-bottom: 0px !important;
    }

    .fixed {
      width: 100% !important; 
    }

    .navbar a {
      color: white !important; 
    }

    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height: auto;} 
    }

    .navbar {
      background-color: #40444e !important;
      border-radius: 0px !important;
      text-align: text-center !important;
    }
    .navbar-inverse {
      background-color: #40444e !important;
      border-color: none !important;
      border-color: #40444e !important;      
    }
    .navbar-header {
      background-color: #272b33 !important;
    }

    .navbar-inverse .navbar-nav > .active > a,
    .navbar-inverse .navbar-nav > .active > a:hover,
    .navbar-inverse .navbar-nav > .active > a:focus {
      color: #fff !important;
      background-color: #292e35 !important;
    }

    .pull-nav {
        float: right;
    }

    .nav > li > a {
      position: relative;
      display: block;
      padding: 15px 27px !important;
    }

    .container-fluid {
      padding-right: 15px !important;
      padding-left: 0px !important;  
    }


    @media screen and (max-width: 784px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .navbar-nav {
        margin: 3px !important; 
      }
      .row.content {height: auto;}

      .footer-align {
        float: left !important;
      }

      .pull-nav {
        float: none;
      }

      .container-fluid {

        margin-top: 140px !important;
      }
    }

    @media (min-width: 768px) and (max-width: 991px) {

      .footer-align {
        float: right !important;
      }
    }

    .navbar-toggle .button-label {
    display: inline-block;
    float: left;
    font-weight: bold;
    line-height: 14px;
    padding-right: 10px;
}
.button-bars {
    display: inline-block;
    float: left;
}
