body {
  font-family: Source Sans Pro !important;
  overflow: hidden;
}

.container{  
  background-color: #40444e !important;
  margin:0px !important;
  width: 100% !important;
  height: 1200px !important;
}

.login-content {
   margin: 0px auto;
   margin-top: 80px;
   max-width: 400px;
   z-index: 100;
}

.full-width {
	width: 100%;
}

.input-group-addon {
	background-color: #40444e !important;
    padding: 6px 18px !important;
    border-radius: 10px;
}

.logo {
	text-align:  center;
    min-height: 60px;
    margin-bottom: 50px;
}

input.active:valid {
    box-shadow: 0 0 5px 1px green;
}

input.active:invalid {
    box-shadow: 0 0 5px 1px red;
}

.input-lg {
    border-radius: 10px;
}

.error {
    color: red;
    font-size: 13px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.login-content input {
    background-color: #40444e;
}

.input-group-addon i {
    color: #c4c6cc;
}

.login-content button {
    background: #0099da;
    color: white !important;
}

.login-font {
    font-size: 1.5em;
}
