.modal-header {
  border-bottom: 0px !important;
  padding: 30px !important;
}

.modal-title {
  font-weight: bold;
}

.modal-content {
    margin: 80px 100px auto 0px !important;
}
.modal-body{
	//padding: 0px  !important;
}

.modal-footer {
	padding: 0px 11px 16px 16px !important;
    text-align: right !important;
    margin: 0 50px !important;
    border-top: 0px solid #e5e5e5;
}

.modal-footer-hr {
	margin: 0px 51px !important;
    margin-bottom: 20px !important;
    border: 0 !important;
    border-top: 3px solid #eee !important;
}

/* Account-info css*/
.acc-heading {
    font-size: 20px;
    font-family: 'Source Sans Pro Bold';
    color: #4e4e4e;
}

.acc-info {
    font-size: 15px;
    font-family: Source Sans Pro;
    color: #4e4e4e;
}

.acc-border {
    border-bottom: 0.5px solid #40444e;
}

.auto-div {
    display: inline-block;
    width: auto;
}
