.modal-header{
  border-bottom: 0px !important;
  padding: 35px 0px 0px 40px !important;
}

.btn-padding{
  padding: 15px;
}

.modal-title {
  font-weight: bold;
}

.modal-content {
    //margin: 80px 100px auto 0px !important;
    margin-top: 80px !important;
}
.modal-body input{
	//padding: 0px  !important;
  background-color: #edf0f2;
}

.modal-padding {
 padding: 35px 0px 34px 29px  !important;
}

.modal-footer {
    padding: 0px 11px 16px 16px !important;
    text-align: right !important;
    margin: 0 36px !important;
    border-top: 0px solid #e5e5e5;
}

.modal-footer-hr {
	margin: 0px 50px 0px 43px !important;
  margin-bottom: 20px !important;
  border-bottom: 0.5px solid #474b54 ;
}

.form-label {
  color: #4e4e4e !important;
  font-size: 15px !important;
  font-family: 'Source Sans Pro' !important;
  font-weight: 500 !important;
  padding-left: 40px !important;
}

.bottom-btn {
  font-family: Source Sans Pro Semibold !important;
  font-size: 15px !important;
  color: white !important;
  background-color: #646f84 !important;
  border-radius: 5px;
}

.btn-blue {
  font-family: Source Sans Pro Semibold !important;
  font-size: 15px !important;
  color: #ffffff !important;
  background-color: #0099da !important;
}

.form-group {
  margin-bottom: 15px !important;
}

.col-padding {
  padding: 0px;
}

.margin-right-11 {
  margin-right: 11px !important;
}

.toast {
  font-size: 15px !important;
}

/* Account-info css*/
.acc-heading {
    font-size: 20px;
    font-family: 'Source Sans Pro Bold';
    color: #4e4e4e;
}

.acc-info {
    font-size: 15px;
    font-family: Source Sans Pro;
    color: #4e4e4e;
}

.acc-border {
    border-bottom: 0.5px solid #40444e;
}

.auto-div {
    display: inline-block;
    width: auto;
}

.bgColor {
  background: white !important;
}

/* Add store */
.storebtn {
    font-family: Source Sans Pro Semibold;
    font-size: 15px;
}

select.active:valid {
    box-shadow: 0 0 5px 1px green;
}

select.active:invalid {
    box-shadow: 0 0 5px 1px red;
}

.storeMargin {
  margin-left: -15px !important;
  font-family: 'Source Sans Pro Bold';
}

.selectedFont {
  font-weight: bold !important;
}

/* Store Info */
.info-store {
    font-size: 15px;
    color: #4e4e4e;
}

.acc-labels {
  font-family: 'Source Sans Pro Bold';
  font-size: 14px;
}

#editpanel i {
  padding-top: 7px;
}

#selectStore {
  background-color: #edf0f2;
}

#selectStore option {
  background-color: white;
}

.marchant-btn {
  padding: 15px 10px 0px 10px;
}

.left-icon {
    margin-top: -15px !important;
    margin-left: -97px !important;
    float: left !important;
}


.bar {
  vertical-align: sub !important;
  font-weight: bold !important;
 }

/* Merchant css */

html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
  height: 100%;
}

.merchant-dashboard {
    background-color: #fff !important;
    max-height: calc(100% - 120px);
    overflow-y: auto;
    overflow-x: hidden;
    height: 550px;
}

 

/*
 * Off Canvas
 * --------------------------------------------------
 * Greater thav 768px shows the menu by default and also flips the semantics
 * The issue is to show menu for large screens and to hide for small
 * Also need to do something clever to turn off the tabs for when the navigation is hidden
 * Otherwise keyboard users cannot find the focus point
 * (For now I will ignore that for mobile users and also not worry about
 * screen re-sizing popping the menu out.)
 */
@media screen and (min-width: 768px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
       -moz-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }

  .row-offcanvas-right {
    right: 25%;
  }

  .row-offcanvas-left {
    left: 25%;
  }

  .row-offcanvas-right .sidebar-offcanvas {
    right: -25%; /* 3 columns */
    background-color: rgb(255, 255, 255);
  }

  .row-offcanvas-left .sidebar-offcanvas {
    left: -25%; /* 3 columns */
    background-color: rgb(255, 255, 255);
  }

  .row-offcanvas-right.active {
    right: 0; /* 3 columns */
  }

  .row-offcanvas-left.active {
    left: 0; /* 3 columns */
    }

    .row-offcanvas .content {
    width: 75%; /* 9 columns */
    display: none;
    -webkit-transition: all .25s ease-out;
    -moz-transition: all .25s ease-out;
    transition: all .25s ease-out;
  }

  .row-offcanvas.active .content {
    width: 100%; /* 12 columns */
    display: block;
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 25%; /* 3 columns */
  }
}
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
       -moz-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }

  .row-offcanvas-right {
    right: 0;
  }

  .row-offcanvas-left {
    left: 0;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -50%; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 50%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 50%; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%; /* 6 columns */
  }
}

