.modal-header{
  border-bottom: 0px !important;
  padding: 35px 0px 0px 40px !important;
}

.btn-padding{
  padding: 15px;
}

.modal-title {
  font-weight: bold;
}

.modal-content {
    //margin: 80px 100px auto 0px !important;
    margin-top: 80px !important;
}
.modal-body input{
	//padding: 0px  !important;
  background-color: #edf0f2;
}

.modal-padding {
 padding: 35px 0px 34px 29px  !important;
}

.modal-footer {
	padding: 0px 11px 16px 16px !important;
  text-align: right !important;
  margin: 0 50px !important;
  border-top: 0px solid #e5e5e5;
}

.modal-footer-hr {
	margin: 0px 43px !important;
  margin-bottom: 20px !important;
  border-bottom: 0.5px solid #474b54 ;
}

.form-label {

  color: #4e4e4e !important;
  font-size: 15px !important;
  font-family: 'Source Sans Pro' !important;
  font-weight: 500 !important;
  padding-left: 40px !important;
}

.bottom-btn {
  font-family: Source Sans Pro Semibold !important;
  font-size: 15px !important;
  color: white !important;
  background-color: #646f84 !important;
}

.btn-blue {
  font-family: Source Sans Pro Semibold !important;
  font-size: 15px !important;
  color: #ffffff !important;
  background-color: #0099da !important;
}

.form-group {
  margin-bottom: 15px !important;
}

.col-padding {
  padding: 0px;
}

.margin-right-11 {
  margin-right: 11px !important;
}

.toast {
  font-size: 15px !important;
}

/* Account-info css*/
.acc-heading {
    font-size: 20px;
    font-family: 'Source Sans Pro Bold';
    color: #4e4e4e;
}

.acc-info {
    font-size: 15px;
    font-family: Source Sans Pro;
    color: #4e4e4e;
}

.acc-border {
    border-bottom: 0.5px solid #40444e;
}

.auto-div {
    display: inline-block;
    width: auto;
}

.bgColor {
  background: white !important;
}

/* Add store */
.storebtn {
    font-family: Source Sans Pro Semibold;
    font-size: 15px;
}

select.active:valid {
    box-shadow: 0 0 5px 1px green;
}

select.active:invalid {
    box-shadow: 0 0 5px 1px red;
}

.storeMargin {
  margin-left: -15px !important;
  font-family: 'Source Sans Pro Bold';
}

.selectedFont {
  font-weight: bold !important;
}

/* Store Info */
.info-store {
    font-size: 15px;
    color: #4e4e4e;
}

.left-icon {
    margin-top: -15px !important;
    margin-left: -97px !important;
    float: left !important;
}
