
.dashboard-container {
    background-color: #fff !important;
    max-height: calc(100% - 120px);
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0px 30px !important;
    margin-top: 52px !important;
    height: 550px;
}

.dashboard-container:hover {
    overflow-y: auto;
}

.nav-side-menu {
  font-size: 15px ;
  position: fixed;
  top: 51px;
  width: 275px;
  height: 100%;
  //background-color: #40444e;
  opacity: 1;
  z-index: 999;
}

.list-nav  {
  font-family: 'Source Sans Pro Semibold' !important;
  color: #fff !important;
}

.activeList {
  border-left: 10px solid #c91c49 !important;
  background-color: #eBecef !important;
  color: #c91c49 !important;
  font-family: 'Source Sans Pro bold' !important;
}


.nav-side-menu .menu-list {
  margin-top: 15px;
  overflow-y: hidden;
  height: 400px;
  width: 275px;
}

.nav-side-menu .menu-list:hover {
    overflow-y: auto;
    padding-right: 3px;
    width: 270px;
}


.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 35px;
  cursor: pointer;
}

.nav-side-menu li:hover {
  background-color: #272b33;
}

/*Search-addon */

.right-inner-addon {
    position: relative;
    padding: 25px 15px 15px 15px;
}

.right-inner-addon input {
    padding-right: 30px;
}

.right-inner-addon i {
    position: absolute;
    right: 0px;
    padding: 4px 21px;
    pointer-events: none;
}

.right-inner-addon input {
    background: none;
    color: white;
    border-top: none;
    border-left: none;
    border-right: none;
    border-width: 1px;
    border-color: #5f6a77;
    width: 100%;
}

.nav-side-menu input::-webkit-input-placeholder {
    font-size: 13px !important;
    color: #abb0b7;
    font-family : Source Sans Pro Italic;
}

.nav-side-menu input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   font-size: 13px !important;
    color: #abb0b7;
    font-family : Source Sans Pro Italic;
}

.nav-side-menu input::-moz-placeholder { /* Mozilla Firefox 19+ */
    font-size: 13px !important;
    color: #abb0b7;
    font-family : Source Sans Pro Italic;
}

.nav-side-menu input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    font-size: 13px !important;
    color: #abb0b7;
    font-family : Source Sans Pro Italic;
}

.nav-side-menu input:focus {
    outline-width: 0;
}

::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #d7dbe2;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
    background: #A9A9A9;
}

#mainDash {
  width:100%;
}

.nav-side-menu i {
    color: #abb0b7;
}

@media (max-width: 767px) {
  .nav-side-menu {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
    height: 200px;
    overflow-y: auto;
}

   .nav-side-menu .menu-list {
        height: 200px;
    }
}

@media (min-width: 767px) {
  .nav-side-menu .menu-list .menu-content {
    display: block;
}

#main {
    width:calc(100% - 275px);
    float: right;
  }
}
