#storeInfo .nav-pills > li.active > a {
  	background: #f2f3f4;
  	color: #c91c49;
  	font-family: 'Source Sans Pro Semibold';
  	border-bottom: 4px solid #c91c49;
}

#storeInfo .nav-pills > li > a {
	padding: 7px 27px !important;
	font-size: 15px;
    font-family: Source Sans Pro;
    color: #4e4e4e;
}

#storeInfo .nav-pills {
    background: #f2f3f4;
}

.store-icons {
	font-size:  1.2 em;
}

#editStorepanel .login-font {
  font-size:  1.2em;
}
