/* font-size */
.font-15 {
    font-size: 15px !important;
}
.font-16 {
    font-size: 16px !important;
}

.font-18 {
    font-size: 18px !important;
}

.font-20 {
    font-size: 20px !important;
}

.font-bold {
  font-weight: bold !important;
}

.font-semibold {
  font-family: 'Source Sans Pro Semibold';
}

.font-regular {
  font-family: 'Source Sans Pro';
}

/* text-colors */
.text-gray {
   color: #727b89;
}

.text-gray-dark {
  color: #c4c6cc;
}

.text-red {
  color: red;
}

.text-white {
  color: white;
}


/* set-padding */
.no-padding {
    padding: 0px !important;
}

.pad-15 {
  padding: 15px;
}

.pad-left-9 {
  padding-left: 9px !important;;
}

.pad-left-17 {
  padding-left: 17px !important;;
}

.pad-left-19 {
  padding-left: 19px !important;;
}

.pad-right-2 {
  padding-right: 2px !important;;
}

.pad-right-10 {
  padding-right: 10px !important;;
}

.pad-right-0 {
  padding-right: 0px !important;;
}

.pad-top-10 {
  padding-top: 10px !important;
}

.pad-bottom-10 {
  padding-bottom: 10px !important;
}

.list-padding {
  padding: 5px 15px 5px 15px;
}

/* set-margin */
.mb-10 {
   margin-bottom: 10px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-25 {
  margin-top: 25px;
}

.ml-10 {
  margin-left: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mt-lg-20 {
  margin-top: 20px;
}

.pointer {
  cursor: pointer;
}